<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>user_pack.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changename</servlet-name>
        <servlet-class>profile_pack.changename</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeemail</servlet-name>
        <servlet-class>profile_pack.changeemail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changepassword</servlet-name>
        <servlet-class>profile_pack.changepassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteaccount</servlet-name>
        <servlet-class>profile_pack.deleteaccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RideBook</servlet-name>
        <servlet-class>ride_pack.RideBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>carinfo</servlet-name>
        <servlet-class>car_pack.carinfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changename</servlet-name>
        <url-pattern>/changename</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeemail</servlet-name>
        <url-pattern>/changeemail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changepassword</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteaccount</servlet-name>
        <url-pattern>/deleteaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RideBook</servlet-name>
        <url-pattern>/RideBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>carinfo</servlet-name>
        <url-pattern>/carinfo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
